body{
    background: grey;
    cursor: pointer;
}
.outerclock{
    width: 350px;
    height: 350px;
    background: #e5e5e5;
    box-shadow: 6px 6px 8px gray,-6px -6px 8px white;
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 50%;
}
.innerclock{
    width: 280px;
    height: 280px;
    position: absolute;
    left: 10%;
    top: 10%;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("nature.jpg");
    background-color: cover;
    border-radius: 50%;
}
.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 46%;
    left: 46%;
    border-radius: 50%;
    background: black;
    z-index: 2;
}
#hour{
    width: 10px;
    height: 75px;
    background: #00E5ff;
    position: absolute;
    top: 24%;
    left: 47%;
    border-radius: 50% 50% 0px 50%;
    transform-origin: bottom;
    z-index: 2;
}
#min{
    width: 8px;
    height: 110px;
    background: yellow;
    position: absolute;
    top: 11%;
    left: 48%;
    border-radius: 50% 50% 0px 50%;
    transform-origin: bottom;
    z-index: 1;
}
#sec{
    width: 5px;
    height: 120px;
    background: red;
    position: absolute;
    top: 8%;
    left: 48%;
    border-radius: 50% 50% 0px 50%;
    transform-origin: bottom;
    z-index: 3;
}
.time p{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: 1px 1px 2px gray;
}
.time p:nth-child(1){
    position: absolute;
    left: 44%;
    top: -6%;
}
.time p:nth-child(2){
    position: absolute;
    left: 3%;
    top: 36%;
}
.time p:nth-child(3){
    position: absolute;
    left: 49%;
    top: 84%;
}
.time p:nth-child(4){
    position: absolute;
    left: 94%;
    top: 36%;
}